<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center style="color: green">Welcome to real world of web hosting!!</center>.
<center style="color: blue">Learning Deployment with AWS is Interesting and fun!!</center>
<p style="color:blueviolet">శ్రీమన్ మహారాజ మార్తాండ తేజా ప్రియానంద భోజా
మీ శ్రీ చరణాంభోజములకు ప్రేమతో నమస్కరించి
మిము వరించి మీ గురించి ఎన్నో కలలుగన్న కన్నె బంగారు
భయముతో భక్తితో అనురక్తితో శాయంగల విన్నపములు

సంధ్యారాగం చంద్రహారతి పడుతున్న వేళ
మసకచీకటి మధ్యమావతి పాడుతున్న వేళ
ఓ శుభముహూర్తాన

తొలిసారి మిమ్మల్ని చూసింది మొదలు
కదిలాయి మదిలోన ఎన్నెన్నో కథలు

జో అచ్యుతానంద జో జో ముకుందా
లాలి పరమానంద రామ గోవిందా జో జో

నిదురపోని కనుపాపలకు జోల పాడలేక
ఈల వేసి చంపుతున్న ఈడునాపలేక
ఇన్నాళ్లకు రాస్తున్న... ప్రేమలేఖ

ఏ తల్లి కుమారులో తెలియదు కానీ
ఎంతటి సుకుమారులో తెలుసు నాకు
ఎంతటి మగధీరులో తెలియలేదుగానీ
నా మనసును దోచిన చోరులు మీరు
వలచివచ్చిన వనితను చులకన చేయక
తప్పులుంటే మన్నించి ఒప్పులుగా భావించి
చప్పున బదులివ్వండి.. చప్పున బదులివ్వండి

తలలోన తురుముకున్న తుంటరి మల్లె
తలపులలో ఎన్నెన్నో మంటలు రేపె
సూర్యుడి చుట్టూ తిరిగే భూమికి మల్లే
నా ఊర్పుల నిట్టూర్పుకు జాబిలి వాడె
నీ జతనే కోరుకునే లతలాగా అల్లుకునే
నాకు మీరు మనసిస్తే ఇచ్చినట్టు మాటిస్తే
ఇప్పుడే బదులివ్వండి… ఇప్పుడే బదులివ్వండి</p>
</body>
</html>
